.main_estimation_text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #58646A;
  margin: 0;
  padding-right: 32px;
  height: auto;
  max-width: 352px;
}


 @media screen and (max-width: 1024px) {
  .main_estimation_text {
    padding-right: max(10px, calc(32 * (100vw - 796px) / (1024 - 796)));
    width: 100%;
  }
} 

@media screen and (max-width: 900px) {
  .main_estimation_text {
    padding-bottom: 12px;
    max-width: 100%;
  }
} 



/*@media screen and (max-width: 1120px) {
  .main_estimation_text {
    max-width: 550px;
  }
}*/


/*@media screen and (max-width: 796px) {  //900px
  .main_estimation_text {
   margin-top: 24px;
  }
}*/

