.account-btn__task {
    align-items: center;
    background:rgba(230, 86, 10, 1);
    border-radius: 24px;
    display: flex;
    text-decoration: none;
    margin-right: 10px;
    width: 168px;
}

  .account-btn__task:hover {
    opacity: .7;
  }
  
  @media screen and (max-width: 900px) {
    .account-btn__task {
      justify-self: right;
<<<<<<< Updated upstream
      width: min-content;
=======
      max-width: min-content;
      width: 100%;
>>>>>>> Stashed changes
    }
  }