.sidebar-nav__step-text {
font-family: Arial, Helvetica, sans-serif;
font-weight: 700;
line-height: 24px;
}

@media screen and (max-width: 900px) {
  .sidebar-nav__step-text {
    display: none;
  }
}