.main_estimation_choose {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 796px) {
    .main_estimation_choose {
        margin-top: 0;
        flex-direction: column;
    }
}